* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 250px;
}

.container-todo {
  width: 100%;
  background-color: rgb(71, 225, 128);
  text-align: center;
  color: black;
}

.title {
  font-size: 24px;
}

.input {
  width: 25%;
  height: 45px;
  padding: 12px;
  color: #111111;

  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 2px solid #d1d3d4;
}
.input {
  outline: none;
  border-color: #0d75ec;
}
.button {
  position: relative;
  font-weight: 50;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.todo-item {
  list-style: none;
  font-size: 20px;
}

.delete-button {
  background-color: #0d75ec;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 20px;
  width: 60px;
  border-radius: 5px;
}
.todo-item {
  list-style: none;
}
