* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 250px;
}

.container-contact {
  text-align: center;
  width: 100%;
  background-color: rgb(200, 224, 20);
  color: black;
}

.form {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
}
.email {
  margin-bottom: 5px;
  padding: 5px;
}

.phone {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
